Module3/Training/family
Module3/Training/data
Module3/Training/.env
Module3/Training/__pycache__
Module3/rag_app/__pycache__
Module3/rag_app/.env
Module4/rag_app/.env
Module4/rag_app/__pycache__
Module5/.env
Module5/agents/__pycache__
Module5/mcp_config/__pycache__
Module6/n8n/.env
Module6/n8n/playwright-api/app/__pycache__/
Module6/emap-module6-20dbbae2881f.json
Module6/ngrok_recovery_codes.txt
Module7/PT2/package-lock.json
Module7/PT2/node_modules/
Module7/PT3/app/__pycache__/
Module7/PT3/tests/__pycache__/
